@font-face {
  font-family: "Helvetica";
  src: url("/fonts/HelveticaNeue/HelveticaNeueRoman.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/HelveticaNeue/HelveticaNeueLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* breakpoints */
  --breakpoint-xs: 480px;
  /* fonts */
  --font-helvetica: "Helvetica";
  /* colors */
  --color-gold: #ce9c35;
  --color-blueish-gray: #7286a0;
  --color-light-black: #212121;
}

body {
  font-family: "Helvetica", sans-serif;
}

body {
  color: var(--color-light-black);
}

/* spacing */
.my-container {
  @apply mx-auto w-full max-w-[1920px];
}

.side-padding {
  @apply px-3 xs:px-5 md:px-10;
}
.side-margin {
  @apply mx-3 xs:mx-5 md:mx-10;
}

.cards-gap {
  @apply gap-6 sm:gap-4 lg:gap-6
}

.main-flex {
  @apply flex flex-col gap-24 sm:gap-32 lg:gap-44;
}
.main-pb {
  @apply pb-24 sm:pb-32 lg:pb-44;
}

.lg-rounded {
  @apply rounded-[10px] xs:rounded-[14px] lg:rounded-[16px] xl:rounded-[18px] 2xl:rounded-[20px];
}

@media screen and (min-width: 1940px) {
  .rounded-on-max {
    @apply rounded-[20px];
  }
}

/* backgrounds and gradients */
.bg-blueish-gray-gold-gradient {
  @apply bg-[linear-gradient(90deg,#CE9C35_0%,#7286A0_100%)];
}


.bg-linear-white-transparent-50 {
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
}

.bg-linear-white-transparent-70 {
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.7) 100%
  );
}

.bg-gold-gradient {
  @apply bg-[linear-gradient(350deg,#36381C_0%,#96A893_30%,#2D2A23_100%)];
}

.bg-black-vertical-gradient {
  background-image: linear-gradient(
    180deg,
    rgba(33, 33, 33, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.bg-gold-vertical-gradient {
  background-image: linear-gradient(
    180deg,
    rgb(206, 156, 53, 0.75) 0%,
    rgb(206, 156, 53, 0) 100%
  );
}

/* text */
.text-14 {
  @apply text-[13px] xs:text-[14px] leading-[1.3];
}

.text-16 {
  @apply text-[14px] leading-[18px] xs:text-[16px] xs:leading-[21px];
}

.text-18 {
  @apply text-[16px] leading-[21px] xs:text-[18px] xs:leading-[24px];
}

.text-20 {
  @apply text-[15px] sm:text-[18px] 2xl:text-[20px] leading-[1.4];
}

.text-22 {
  @apply text-[18px] sm:text-[20px] 2xl:text-[22px] leading-[1.4];
}

.text-24 {
  @apply text-[18px] sm:text-[22px] 2xl:text-[24px] leading-[1.3];
}

.text-25 {
  @apply text-[23px] leading-[27px] xs:text-[25px] xs:leading-[31px];
}

.text-28 {
  @apply text-[24px] sm:text-[26px] 2xl:text-[28px] leading-[1.2];
}

.text-32 {
  @apply text-[27px] sm:text-[30px] 2xl:text-[32px] leading-[1.2];
}

.text-40 {
  @apply text-[30px] sm:text-[36px] 2xl:text-[40px] leading-[1.2];
}

.text-58 {
  @apply text-[50px] sm:text-[54px] 2xl:text-[58px] leading-[1.1];
}

.text-64 {
  @apply text-[54px] sm:text-[60px] 2xl:text-[64px] leading-[1.15];
}

.clip-corner {
  mask: url("/assets/news-card-mask.svg");
}

.hide-scrollbar {
  /* Hide scrollbar for WebKit (Chrome, Safari) */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* CTA form */
#cta-form {
  input,
  textarea {
    resize: none;
    @apply w-full border-b border-light-black px-0 pb-1.5 focus:outline-none focus:border-b-2;
  }

  .row {
    @apply flex gap-x-6 gap-y-8 max-sm:flex-col  ;
  }
}
